# Note: Normally you would want to keep this private as anyone who can see your mnemonic has access to your wallet
# But this is only an example to demonstrate ViteJS functions
MNEMONICS="PUT MNEMONICS HERE"
MNEMONICS2="PUT MNEMONICS HERE"
# For SBP rewards
MAINNET='https://node-tokyo.vite.net/http'
TESTNET='https://buidl.vite.net/gvite:48132'
TESTNETWS='wss://node-tokyo.vite.net/ws'
#RPC_NET='http://148.70.30.139:48132'
RPC_NET='https://buidl.vite.net/gvite:48132'
SBP_NAME="ViNo_Community_Node"
DEV_FUND_PERCENTAGE=47
DEV_FUND_ADDRESS="vite_de4711fb4cb411f8f57628ec3f5c2278b5aa307fa92442e5e0"
COMMUNITY_FUND_PERCENTAGE=35
COMMUNITY_FUND_ADDRESS="vite_702369c55ad01823778cd82099b9f146fa8b659dcf0e6a6bee"
# Put Twitter API keys here for postTweetTest.js to work
# Note: You need a developer account to be able to use Twitter's API
CONSUMER_KEY=""
CONSUMER_SECRET=""
ACCESS_TOKEN=""
ACCESS_TOKEN_SECRET=""